<html>
<head>
    <title></title>

</head>
<body>
<style>

    .text-general {
        font: 'Pluto Sans';
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        color: #000000;
    }

    #mmb-button {
        /* CTA button */ /* Auto layout */

        justify-content: center;
        align-items: center;
        padding: 14px 60px;
        gap: 1px;
        width: 200px;
        max-width: 200px;
        min-width: 200px;
        height: 48px;
        max-height: 48px;
        min-height: 48px;
        background: #702B91;
        text-decoration: none; /* Remove underline */
        color: white;
        box-sizing: border-box;
        white-space: nowrap;
        font-size: 20px;
    }

    #mmb-button:active,
    #mmb-button:focus {
        color: white; /* Prevent text color change on click */
    }

</style>


<table class="body"
       style="Margin:10px 0;background:#e6e6e6;font-family:'Noto Sans',sans-serif,Arial,Noto;height:100%;margin:10px 0;width:100%">
    <tr>
        <td class="center" align="center" valign="top">
            <center data-parsed style="min-width:600px;width:100%">

                <table border="0" cellspacing="0" cellpadding="0" width="642" align="center"
                       class="container float-center"
                       style="Margin:0 auto;background:#fff;float:none;font-family:'Noto Sans',sans-serif,Arial,Noto;margin:0 auto;text-align:center;width:642px">
                    <tr>
                        <td class="content"
                            style="Margin:0;color:#564f70;font-family:'Noto Sans',sans-serif,Arial,Noto;font-size:16px;font-weight:400;line-height:1.1;margin:0;padding:0;text-align:left">

                            <table>
                                <tr>
                                    <td style="padding: 12px 12px; ">
                                        <img src="https://edge.hkexpress.com/media/general/logo/HKE_Logo_EN_TC_RGB.svg"
                                             width="140">
                                    </td>
                                </tr>
                            </table>
                            <table class="title-bar_wrap" cellspacing="0" cellpadding="0" border="0" width="100%"
                                   style="background-color: #702B91;color:#f4f4f7;font-family:'Noto Sans',sans-serif,Arial,Noto">
                                <tr>
                                    <td style="width:32px">&nbsp;</td>
                                    <td class="text-general"
                                        style="font-size:32px;color:white;font-weight:700;height:72px;text-align:left;vertical-align:middle">Payment Reminder</td>
                                </tr>
                            </table>
                            <table border="0" cellspacing="0" cellpadding="0" width="100%" class="my-booking"
                                   style="background-color:#fff;color:#151E3B;font-family:'Noto Sans',sans-serif,Arial,Noto;font-size:17px">

                                <tr>
                                    <td>
                                        <table border="0" cellspacing="0" cellpadding="0" width="100%"
                                               style="font-family:'Noto Sans',sans-serif,Arial,Noto">
                                            <tr>
                                                <td class="c-space" style="width:32px">&nbsp;</td>
                                                <td class="r-space" style="height:24px">&nbsp;</td>
                                                <td class="c-space" style="width:32px">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td class="c-space" style="width:32px">&nbsp;</td>
                                                <td class="text--purple">
                                                    <p class="text-general" style="font-size: 18px;"><strong>Dear </strong><strong>{{last_name}} {{first_name}}</strong>, </p>
                                                    <p class="text-general" style="font-size: 16px;">Thank you for choosing HK Express. We noticed that your booking {{sales_reference}} has an outstanding payment pending. </p>
                                                    <p class="text-general" style="font-size: 16px;">To avoid any disruption to your journey and ensure a smooth travel experience, please click the button below to complete the payment for your extra products/services on the "Manage My Booking" page.</p>
                                                </td>
                                                <td class="c-space" style="width:32px">&nbsp;</td>
                                            </tr>

                                            <tr>
                                                <td class="c-space" style="width:32px">&nbsp;</td>
                                                <td class="r-space" style="height:24px">&nbsp;</td>
                                                <td class="c-space" style="width:32px">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td class="c-space" style="width:32px">&nbsp;</td>
                                                <td class="r-space" style="height:24px">&nbsp;</td>
                                                <td class="c-space" style="width:32px">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td class="c-space" style="width:32px">&nbsp;</td>
                                                <td style="text-align:center;vertical-align:middle;"> <button style="border-radius: 28px;"><span >Find flights</span></button></td>
                                                <td style="text-align:center;vertical-align:middle;"><a href="{{payment_link}}" border="0">
                                                    <img src="https://irp-uat.hkexpress.com/source/booking/CTA-button.png" border="0" style="display:inline-block;vertical-align: middle"></a>
                                                </td>

                                                <td class="c-space" style="width:26px">&nbsp;</td>
                                                <td class="c-space" style="width:32px">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td class="c-space" style="width:32px">&nbsp;</td>
                                                <td class="r-space" heigth="42" style="height:24px;">&nbsp;</td>
                                                <td class="c-space" style="width:32px">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>

                            <!--footers below -->
                            <table cellspacing="0" cellpadding="0" border="0" width="100%"
                                   style="font-family:'Noto Sans',sans-serif,Arial,Noto">
                                <tr>
                                    <td>
                                        <p style="Margin:7px 0 7px 0;margin:7px 0 7px 0">&nbsp;</p>
                                        <table class="download-banner" cellspacing="0" cellpadding="0" border="0"
                                               width="100%"
                                               style="font-family:'Noto Sans',sans-serif,Arial,Noto;">
                                            <tr>
                                                <td class="download-banner__banner">
                                                    <a href="https://www.hkexpress.com/Plan/Guideline/App-Booking?utm_campaign=itinerary&utm_source=sendgrid&utm_medium=email&utm_content=en-us_app"
                                                       target="_blank"><img style="height:auto;"
                                                                            src="https://edge.hkexpress.com/media/general/email/download-app-en.png"
                                                                            width="100%"
                                                                            alt="Download the App & travel with ease">
                                                    </a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="r-space" style="height:24px"></td>
                                            </tr>

                                            <tr>
                                                <td class="download-banner__download-btns" style="text-align:center">
                                                    <a border="0" href="https://apps.apple.com/app/id1069758898"
                                                       style="color:#50bef0;text-decoration:none">
                                                        <img src="https://edge.hkexpress.com/static/HKE-newsletters/imgs/download_apple.png"
                                                             title="Available on the App Store" width="170" height="50"
                                                             style="display:inline-block;padding:0 5px">
                                                    </a>
                                                    <a border="0"
                                                       href="https://play.google.com/store/apps/details?id=com.hkexpress.android"
                                                       style="color:#50bef0;text-decoration:none">
                                                        <img src="https://edge.hkexpress.com/static/HKE-newsletters/imgs/download_google.png"
                                                             title="Available on the Play Store" width="170" height="50"
                                                             style="display:inline-block;padding:0 5px">
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="30"></td>
                                </tr>
                            </table>

                            <table class="legal-text"
                                   style="background-color: #F3F3F3; margin: 0; padding: 0; width: 100%;">
                                <tbody style="margin: 0; padding: 0;">
                                <tr>
                                    <td height="20">&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr style="margin: 0; padding: 0;">
                                    <td width="30" style="margin: 0; padding: 0;"></td>
                                    <td style="vertical-align: middle; margin: 0; padding: 0;">
                                        <p
                                                style="margin: 0; padding: 0; color: #151E3B; font-size: 10px; line-height: 12px; font-family:'Noto Sans',sans-serif,Arial,Noto ">
                                            The content of this e-mail is considered confidential and is intended
                                            solely for the addressee(s) and access by anyone else is unauthorized.
                                            Disclosure, copying or distribution, in whole or part of this message,
                                            or taking any action based on it, is strictly prohibited. The views
                                            expressed in this e-mail are not necessarily the views of the Company,
                                            or any associated company, except where explicitly stated.
                                        </p>
                                    </td>
                                    <td width="30"></td>
                                </tr>
                                <tr>
                                    <td height="20">&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                </tbody>
                            </table>

                            <table cellspacing="0" cellpadding="0" border="0" width="100%" class="hk-footer"
                                   style="font-family:'Noto Sans',sans-serif,Arial,Noto; background-color: #702B91">

                                <tr>
                                    <td class="center" align="center" valign="top">
                                        <table border="0" cellspacing="0" cellpadding="0" width="100%" align="center"
                                               class="container float-center"
                                               style="background: #702B91; font-family:'Noto Sans',sans-serif,Arial,Noto; margin:0; text-align: center; width:100%;">
                                            <tr>
                                                <td class="content"
                                                    style="Margin:0;color:#564f70;font-family:'Noto Sans',sans-serif,Arial,Noto;font-size:16px;font-weight:400;line-height:1.1;margin:0;padding:0;text-align:left">
                                                    <table cellspacing="0" cellpadding="0" border="0" width="100%"
                                                           class="hk-footer"
                                                           style="font-family:'Noto Sans',sans-serif,Arial,Noto">
                                                        <tr>
                                                            <td height="20"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table align="center" style="width: 45%; height: 32px;">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td style="width: 40px; height: 30px;">
                                                                            <a href="https://www.facebook.com/HKExpressDE"
                                                                               target="_blank"
                                                                               class="footer__icons__item" border="0"
                                                                               style="color:#50bef0;display:inline-block;text-decoration:none; width: 40px">
                                                                                <img src="https://edge.hkexpress.com/static/HKE-newsletters/social_icons/facebook.png"
                                                                                     width="28" height="28"
                                                                                     title="Facebook"></a>
                                                                        </td>
                                                                        <td style="width: 40px; height: 30px;">
                                                                            <a href="https://www.instagram.com/hk_express/"
                                                                               target="_blank"
                                                                               class="footer__icons__item" border="0"
                                                                               style="color:#50bef0;display:inline-block;text-decoration:none; width: 40px">
                                                                                <img src="https://edge.hkexpress.com/static/HKE-newsletters/social_icons/instagram.png"
                                                                                     width="28" height="28"
                                                                                     title="Instagram"></a>
                                                                        </td>
                                                                        <td style="width: 40px; height: 30px;"><a
                                                                                href="http://weibo.com/hkexpress"
                                                                                target="_blank"
                                                                                class="footer__icons__item" border="0"
                                                                                style="color:#50bef0;display:inline-block;text-decoration:none; width: 40px">
                                                                            <img src="https://edge.hkexpress.com/static/HKE-newsletters/social_icons/weibo.png"
                                                                                 width="28" height="28"
                                                                                 title="Weibo"></a>
                                                                        </td>
                                                                        <td style="width: 40px; height: 30px;">
                                                                            <a href="https://www.hkexpress.com/en/WeChat"
                                                                               target="_blank"
                                                                               class="footer__icons__item" border="0"
                                                                               style="color:#50bef0;display:inline-block;text-decoration:none; width: 40px">
                                                                                <img src="https://edge.hkexpress.com/static/HKE-newsletters/social_icons/wechat.png"
                                                                                     width="28" height="28"
                                                                                     title="Wechat"></a>
                                                                        </td>
                                                                        <td style="width: 40px; height: 30px;">
                                                                            <a href="https://www.youtube.com/channel/UCKui37050C0L5EdPiYzYZiw"
                                                                               target="_blank"
                                                                               class="footer__icons__item" border="0"
                                                                               style="color:#50bef0;display:inline-block;text-decoration:none; width: 40px">
                                                                                <img src="https://edge.hkexpress.com/static/HKE-newsletters/social_icons/youtube.png"
                                                                                     width="28" height="28"
                                                                                     title="Youtube"></a>
                                                                        </td>
                                                                        <td style="width: 40px; height: 30px;">
                                                                            <a href="https://www.linkedin.com/company/hong-kong-express/mycompany/"
                                                                               target="_blank"
                                                                               class="footer__icons__item" border="0"
                                                                               style="color:#50bef0;display:inline-block;text-decoration:none; width: 40px">
                                                                                <img src="https://edge.hkexpress.com/static/HKE-newsletters/social_icons/linkedin.png"
                                                                                     width="28" height="28"
                                                                                     title="Linkedin"></a>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="footer__links"
                                                                style="font-size:19px;text-align:center">
                                                                <a href="https://www.hkexpress.com/en/Need-help/Customer-Care"
                                                                   target="_blank"
                                                                   style="color:#564f70;text-decoration:none"><span
                                                                        class="link__internal__txt"
                                                                        style="color: #21B9DA; text-decoration:none; font-size: 14px; line-height: 17px; font-weight: 500">Contact
Us</span></a>
                                                                <span class="footer__links__separator"
                                                                      style="color: #fff;font-weight:500;padding:0 5px; font-size: 14px">&#8226;</span>
                                                                <a href="https://www.hkexpress.com/en/Legal-and-Privacy/Privacy-Policy"
                                                                   target="_blank"
                                                                   style="color:#564f70;text-decoration:none"><span
                                                                        class="link__internal__txt"
                                                                        style="color: #21B9DA; text-decoration:none; font-size: 14px; line-height: 17px; font-weight: 500">Privacy
Policy</span></a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="footer__text text"
                                                                style="color:#fff;font-size: 10px;text-align:center">
                                                                <p>&copy;
                                                                    2025 Hong Kong Express Airways Limited</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="20"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>


                        </td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>
</table>

</body>
</html>
